body{
    background-color: #000000;
    color:#FFFFFF;

    max-width: 864px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__content{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    margin-bottom: 50px;
}

h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 84px;
    line-height: 102px;
    /* identical to box height, or 121% */

    letter-spacing: -2px;

}

a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding-left: 29px;
}

.home{
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    
    letter-spacing: -0.25px;
    padding: 0;

}

h3{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}



p{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    /* identical to box height, or 140% */



}



i{
    color: #242635;
}
.navbar{
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
    align-items: baseline;

}
.nav__right{
    display: flex;
}

.main__text{
    max-width:573px;
    text-align: center;
}
img{
    margin-top: 45px;
}
@media screen and (max-width: 1440px){
    body{
        max-width: 617px;
        margin:auto;
    }
    .navbar{
        margin: 34px 0;
    }
}

@media screen and (max-width: 768px){
    .main__text{
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        /* or 150% */

        text-align: center;
        max-width: 217px;
    }
    h1{
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        /* identical to box height, or 110% */

        text-align: center;
        letter-spacing: -0.8px;
        margin-bottom: 27px;


    }
    .main__content{
        margin: 0;
    }
    .nav__right_dissapear{
        display: none;
    }
    body{
        max-width: 256px;
        margin:auto;
    }
    header{
        margin-bottom: 32px;
    }
    .navbar{
        margin: 11px 0;
    }
}

